<!doctype html>
<html lang="en">

<head>
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../addons/main/style.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(../images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" id="PlayerSkin"></div>
                    <h3 id="usernamePlayer"></h3>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#" id="accueilButton"><span class="fa fa-home mr-3"></span> Accueil</a>
                </li>
                <li class="active">
                    <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-sign-out mr-3"></span> Déconnexion</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5" style="background-image: url(../images/WallpaperBackgroundMain.jpg);">
            <h2 class="mb-4" id="ServerName">Settings</h2>
            <select class="selectpicker" id="ram">
                <option>4G</option>
                <option>5G</option>
                <option>6G</option>
                <option>7G</option>
                <option>8G</option>
            </select>

            <button class="btn btn-outline-success" id="SaveRam">Sauvegarder</button>
        </div>
    </div>

    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script src="../addons/popper.js"></script>
    <script src="../addons/bootstrap.min.js"></script>
    <script src="../addons/main/main.js"></script>

    <script>

        const electron = require('electron')
        const ipc = electron.ipcRenderer

        let email
        let password
        let username
        let uuid

        //Get data (username, uuid, email & password) from user
        ipc.on('usernameData', (event, data) => {
            console.log(data)

            email = data.email
            password = data.password
            username = data.username
            uuid = data.uuid

            document.getElementById('usernamePlayer').innerHTML += data.username
            document.getElementById('PlayerSkin').style.backgroundImage =
                `url('https://crafatar.com/avatars/${data.uuid}')`
        })

        document.getElementById('accueilButton').addEventListener('click', () => {
            ipc.send('GoToMain', {
                email,
                password,
                username,
                uuid
            })
        })

        document.getElementById('SaveRam').addEventListener('click', () => {
            let ram = $('#ram :selected').text()
            console.log(ram)
            ipc.send('saveRam', (ram))
        })
    </script>
</body>

</html>